:root {
  --orange: #FF5C00;
}

body {
  background: #ECECEC;
  font-family: Lato;
}

img {
  max-width: 200px;
}

.page-header {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.page-header h1 {
  font-size: 48px;
  font-weight: 900;
}

.page-header h2 {
  color: var(--orange);
}

.recipe-cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipe-card {
  background: #FFFFFF;
  padding: 30px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #444444;
}

.recipe-header {
  display: flex;
  gap: 30px;
}